ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    color: white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#sisemine_menuu {
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 200px;
    margin-left: 200px;
}

#sisemine_menuu_text {
    margin-top: 10px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 200px;
}