ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    color: white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#sisemine_menuu {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 200px;
    margin-left: 200px;
}

img {
  float: left;
  width: 24.5%;
  height: 200px;
  object-fit: cover;
}

.cover {
    object-fit: cover;
}

#body_bg {
    background-image: url("menuupildid/taustapilt.jpg");
    background-size: cover;
}

#par {
  float: left;
  width: 25%;
  height: 200px;
  object-fit: cover;
  background: rgba(255,255,255,0.5);
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 25px;
}
